<footer class="site-footer h-card">
    <data class="u-url" href="{{ "/" | relative_url }}"></data>

    <div class="wrapper">

        <div class="footer-col-wrapper">
		
		<div class="footer-col footer-col-1">
		<!-- Begin MailChimp Signup Form -->
		<link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
		<div id="mc_embed_signup">
		<form action="https://thecloseupproject.us18.list-manage.com/subscribe/post?u=ae27de69b0b60225d2d25f811&amp;id=7c4b66e192" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
		    <div id="mc_embed_signup_scroll">
			    <label for="mce-EMAIL"><h3>Subscribe to our newsletter</h3></label>
			<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
		    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
		    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_ae27de69b0b60225d2d25f811_7c4b66e192" tabindex="-1" value=""></div>
		    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
		    </div>
		</form>
		</div>
		<!--End mc_embed_signup-->		
		</div>
            <div class="footer-col footer-col-2">
		    <img src="/assets/images/logo_footer_white.png"/>
	    </div>
            <div class="footer-col footer-col-3" id="search">
		
               <form action="/search.html" method="get">
                    <h3>Search The CUP</h3>
                    <input type="text" id="search-box" name="query">
                    <input type="submit" class="button" value="Search">
                </form>
		
            </div>
     
	 </div>
	<div class="footer-social">
			<a href="/feed.xml"><i class="fas fa-rss" ></i></a>
			<a href="https://twitter.com/closeupproject"><i class="fab fa-twitter" ></i></a>
			<a href="https://www.facebook.com/The-Close-Up-Project-425501367542209/"><i class="fab fa-facebook" ></i></a>
			<a href="https://www.instagram.com/thecloseupproject/"><i class="fab fa-instagram" ></i></a>
			<a href="https://www.flickr.com/groups/thecloseupproject/"><i class="fab fa-flickr" ></i></a>
	</div>	 
	</div>	 

</footer>
