<footer class="site-footer h-card">
    <data class="u-url" href="{{ "/" | relative_url }}"></data>

    <div class="wrapper">

        <div class="footer-col-wrapper">
            <div class="footer-col footer-col-3">
                <img src="/assets/images/logo_footer.png"/>
            </div>

            <div class="footer-col footer-col-3">
               <form action="/search.html" method="get">
                    <label for="search-box">Search The Close-Up Project</label>
                    <input type="text" id="search-box" name="query">
                    <input type="submit" value="search">
                </form>
            </div>
        </div>

    </div>

</footer>