---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

header.wrapper {height:75px; background-color:#222;}
img.hero {
	width:100%; height:auto;
}

.hero-title{
	position: absolute; 
	top: 200px; 
	width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 2.5em;
    color: #fff;
    text-shadow: black 2px 2px;
}
