---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

$dark-grey: #222;
$light-grey: #ddd;
$green: #afd665;
$rss: #FF6600;
$fb: #4267b2;
$instagram: #8a47b0;
$twitter: #1da1f2;
$flickr: #ff0084;

header {background-color: #fff;}
header.post-header {background-color:#fff;}
header div.wrapper {height:90px; background-color:#fff;}

main div.wrapper {border-left: solid 1px $light-grey; border-right: solid 1px $light-grey;}
.site-nav {line-height:80px;}
.site-nav .page-link {color:$dark-grey !important;}
.site-nav a:hover {color: $green !important;}

img.hero {
	width:100%; height:auto;
}

.hero-title{
	position: absolute; 
	top: 200px; 
	width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 2.5em;
    color: #fff;
    text-shadow: black 2px 2px;
}


.post-list > li {
    margin-bottom: 40px;
    border-bottom: solid 1px $green;
	min-height:300px;
}

img.excert-img {width:250px; max-height:180px; margin-right:15px; float:left; border: 1px solid $light-grey;  box-shadow: 1px 1px 5px rgba(0,0,0,.1); padding: 5px;}

/* Pagination */
div.pagination {display:flex; justify-content:center; align-items:center;}
.page_number {flex-grow:8; text-align:center; font-size: 0.8em;}
a.next , a.previous  {background-color:$dark-grey; color: #fff; padding:8px; font-weight: bold; border-radius:5px; font-size: 0.8em;}
a.next:hover, a.previous:hover {background-color:$green; text-decoration:none; color:$dark-grey}

.site-footer {background-color: $dark-grey;}
.site-footer a {padding:15px; transition: all .1s ease-in-out;}
.site-footer a:hover {transform: scale(1.5);}
.footer-social {display:flex; justify-content:center; align-items:center;}
.fa-rss {color: $rss;}
.fa-twitter {color: $twitter;}
.fa-facebook {color: $fb;}
.fa-instagram {color: $instagram;}
.fa-flickr {color: $flickr;}

/*** Search ***/
#search-box {width:100%; height:32px; border-radius:5px; border:$dark-grey; margin-bottom:10px;}
#search .button:hover {background-color: #777;}
#search input.button {
    display: block;
    width: 35%;
    margin: 0 0 10px 0;
    min-width: 90px;
}
#search .button {
    clear: both;
    background-color: #aaa;
    border: 0 none;
    border-radius: 4px;
    letter-spacing: .03em;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    height: 32px;
    line-height: 32px;
    margin: 0 5px 10px 0;
    padding: 0;
    text-align: center;
    text-decoration: none;
    vertical-align: top;
    white-space: nowrap;
    width: auto;
    transition: all 0.23s ease-in-out 0s;
}

/*** Mailchimp ***/
#mc_embed_signup{clear:left; }
#mc_embed_signup label {padding-bottom:0px !important;}
#mc_embed_signup input.email {border-radius:5px !important; width:100% !important; border:$dark-grey !important; height:35px !important;}
