---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

$dark-grey: #222;
$light-grey: #ddd;
$green: #afd665;

header {background-color: #fff;}
header.post-header {background-color:#fff;}
header div.wrapper {height:90px; background-color:#fff;}

main div.wrapper {border-left: solid 1px $light-grey; border-right: solid 1px $light-grey;}
.site-nav {line-height:80px;}
.site-nav .page-link {color:$dark-grey !important;}
.site-nav a:hover {color: $green !important;}

img.hero {
	width:100%; height:auto;
}

.hero-title{
	position: absolute; 
	top: 200px; 
	width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 2.5em;
    color: #fff;
    text-shadow: black 2px 2px;
}


.post-list > li {
    margin-bottom: 40px;
    border-bottom: solid 1px $green;
	min-height:300px;
}

img.excert-img {width:250px; max-height:180px; margin-right:15px; float:left; border: 1px solid $light-grey;  box-shadow: 1px 1px 5px rgba(0,0,0,.1); padding: 5px;}

/* Pagination */
div.pagination {display:flex; justify-content:center; align-items:center;}
.page_number {flex-grow:8; text-align:center; font-size: 0.8em;}
a.next , a.previous  {background-color:$dark-grey; color: #fff; padding:8px; font-weight: bold; border-radius:5px; font-size: 0.8em;}
a.next:hover, a.previous:hover {background-color:$green; text-decoration:none; color:$dark-grey}

.site-footer {background-color: $dark-grey;}
#search-box {width:100%; height:35px; border-radius:5px; border:$dark-grey; margin-bottom:15px;}